# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp
*.bak

# Configuración de sistema
*.lock
